@import 'bootstrap';
@import 'fontello';


i {
  font-size: 2em;
  color: #5BC6B9;
  transition: all 300ms;
}

.icon-facebook-squared {
  &:before {
    margin-left: 0;
  }
}

.icon-facebook-squared:hover {
  color: #48609E;
}

.icon-linkedin-squared:hover {
  color: #2477B6;
}

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",'fontello',Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 300;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: left;
    color: #f8f8f8;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 650px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 6em;
    font-family: Megrim;
}

#map-container {
height: 300px;
/* width: 100%; */

}

/* .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
} */

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:991px) {
/* .intro-message {
    padding-bottom: 15%;
} */

.intro-message {
    h1 {
    font-size: 3em;
    }
    h3 {
      font-size: 1.5em;
    }
}


/*     ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
}

ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
}

.intro-divider {
    width: 100%;
} */
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.last {
  padding-bottom: 0;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    margin-top: 0;
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

.dl-horizontal.links a {
  font-size: 16px;
}

footer {
    padding: 15px 0 30px 0;
    background-color: #f8f8f8;
    text-align: center;
}

p.copyright {
    margin: 15px 0 0;
}

.links dd {
  margin-left: 0;
}

.elevator-button {
  cursor: pointer;
}

.read-desc {
  padding-bottom: 5px;
}
